body{
                margin: 0;
            }
            #main-div{
                background-color: rgb(120, 120, 120);
                text-align: center;
            }
            
            #nav-list {
                /*text-align: center;*/
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
                width: 100%
            }
            
            #nav-list li {
                
                display: inline;
            }
            
            #nav-list li a {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 2em;
                
            }
            
            #nav-list li a:hover {
                background-color: rgb(76,175, 80);
            }
            table{
                font-size: 1.5em;
                width: 400px;
                margin-left: auto;
                margin-right: auto;
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                border: 1px solid #ddd;
            }
            table thead tr{
                border-bottom: 2px solid #ddd;
            }
            table thead tr th{
                background-color: rgb(23, 24, 23);
                color: white;
            }

            table tbody tr:nth-child(even){
                background-color: #f2f2f2;
                }
            table tbody tr:hover{
                background-color: #928e8e;
                }

            .text-info{
                padding-left: 20px;
                padding-right: 20px;
                font-size: 25px;
                text-align: center;
                color: rgb(255, 255, 255);
               

            }
            #header{
                color: white;
                text-align: center;
                background-color: rgb(161,155,13);
                padding-bottom: 20px ;
                padding-top: 20px ;
                margin: 0px;
                font-size: 5em;

            }
            h2{
                display: inline-block;
                border-bottom: 1px solid rgb(51, 47, 47);
                margin-left: 10px;
                margin-bottom: 5px;
                color: rgb(0, 0, 0);
                font-size: 2em;
                
            }

            h2:hover{
                background-color: rgb(102, 102, 102);
                padding-left: 10px;
            }

            .strong-head{
                color: black;
                background-color: rgb(102, 102, 102)
            }

            #ingredients-container{
                text-align: center;
                
            }

            #left-image{
                display: inline-block;
                width: 500px;
                margin-top: 50px;
            }
            #ingredientsPlusHead{
                display: inline-block;
                margin-left: 5px;
                margin-right:5px;
                vertical-align: top;
            }
            #right-image{
                display: inline-block;
                width: 500px;
                margin-top: 50px;
            }

            #footer{
                background-color: black;
                color: white;
                padding-top: 5px;
                padding-bottom: 5px;
            }
           
           .footer span.add{
               display: none;
           }
            .footer:hover span.hide{
                display: none;
            }
            .footer:hover span.add{
                display:block;
            }
