body{
    margin: 0;
}

.wrapper{
    font-family: Roboto, sans-serif;
}
.side-left{
    background-color: rgb(58, 58, 58);
    width: 30%;
    height: 1100px;
    float: left;
    position: fixed;
}

.sarbast-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;

    width: 200px;
    border-radius: 100%;
}

.leftSide-list-container{
    margin-bottom: 40px;
}
.leftSide-list li{
    list-style: none;
    margin-bottom: 10px;
}



.leftSide-list li a{
    text-decoration: none;
}
.leftSide-list li a:hover{
    text-decoration: underline wheat;
}



.icon-svg{
    width: 50px;
    height: 36px;
    float:left;
    color: white;
}

.text-personal-info{
    float: left;
}

.float-reseting{
    clear: both;
}

.leftSide-header{
    font-size: 1.5em;
    margin-left: 50px;
    color: white;
    font-weight: bold;
    margin-bottom:5px;
}

.leftSide-list-hr{
    margin-top: 0;
    margin-left: 50px;
    margin-right: 20px;
}

.leftSide-li-header{
    color: rgb(245, 245, 245);
}

.leftSide-li-info{
    color: rgb(175, 172, 172);
}


.leftSide-list2 li{
    list-style: none;
}

.leftSide-list2 li a{
    text-decoration: none;
}

.leftSide-list2 li a:hover{
    text-decoration: underline wheat;
}

.second-list-item{
    
    font-size: 1.5em;
    margin-left: 5px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

/*End of Left Side */

/* RIGHT SIDE */

.side-right-wrapper{
    background-color: #013243;
    width: 70%;
    height: 1100px;
    float: right;
    text-align: center;
}

.header-name{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.top-big-name{
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
    font-size: 3em;
}

.occupation{
    color: white;
    text-align: left;
    padding-left: 2px;
    margin-top: 0;
    font-size: 15px;
}

.about-me-container{
    text-align: left;
    color: white;
}

.h2-headers{
    margin-left: 50px;
    margin-bottom: 0;
    padding-bottom:0;
}

.rightside-hr{
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;

}

.about-me{
    margin-left: 50px;
    margin-right: 50px;
}

.external-links{
    color: orangered;
    text-decoration: none;
}

.ulist-container{
    text-align: left;
    color: white;
    margin-top: 60px;
}

.rightSide-ulists{
    margin-left: 30px;
    margin-top: 10px;
}

.rightSide-list-items{
    margin-bottom: 10px;
}
